.creator-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.creator-image {
  top: 212px;
  left: 107px;
  width: 1037px;
  height: 314px;
  position: absolute;
  object-fit: cover;
}
.creator-text {
  top: 190px;
  left: 638px;
  color: #000000;
  position: absolute;
  font-size: 15px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: bold;
}
.creator-text07 {
  top: 554px;
  left: 846px;
  color: #000000;
  position: absolute;
  font-size: 15px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: bold;
}
.creator-text10 {
  top: 146px;
  left: 637px;
  color: var(--dl-color-gray-black);
  position: absolute;
  font-size: 30px;
  align-self: center;
  text-align: center;
  font-weight: 700;
}
.creator-text12 {
  color: #efafaf;
}
.creator-image1 {
  top: 75px;
  left: 37px;
  width: 641px;
  height: 575px;
  position: absolute;
  object-fit: cover;
}
.creator-text13 {
  top: 257px;
  color: #000000;
  right: 116px;
  position: absolute;
  font-size: 15px;
  align-self: center;
  text-align: justify;
  font-weight: bold;
}
.creator-text17 {
  font-style: normal;
  font-weight: 400;
}
.creator-text18 {
  font-style: normal;
  font-weight: 400;
}
.creator-text19 {
  font-style: normal;
  font-weight: 400;
}
.creator-text20 {
  font-style: normal;
  font-weight: 400;
}
.creator-text21 {
  font-style: normal;
  font-weight: 400;
}
.creator-text22 {
  font-style: normal;
  font-weight: 400;
}
.creator-text23 {
  font-style: normal;
  font-weight: 400;
}
.creator-text24 {
  font-style: normal;
  font-weight: 400;
}
.creator-text25 {
  font-style: normal;
  font-weight: 400;
}
.creator-text26 {
  font-style: normal;
  font-weight: 400;
}
.creator-text27 {
  font-style: normal;
  font-weight: 400;
}
.creator-text29 {
  top: 390px;
  color: #000000;
  right: 94px;
  position: absolute;
  font-size: 15px;
  align-self: center;
  text-align: justify;
  font-weight: bold;
}
.creator-text33 {
  font-style: normal;
  font-weight: 400;
}
.creator-text34 {
  font-style: normal;
  font-weight: 400;
}
.creator-text35 {
  font-style: normal;
  font-weight: 400;
}
.creator-text36 {
  font-style: normal;
  font-weight: 400;
}
.creator-text37 {
  font-style: normal;
  font-weight: 400;
}
.creator-text38 {
  font-style: normal;
  font-weight: 400;
}
.creator-text39 {
  font-style: normal;
  font-weight: 400;
}
.creator-text40 {
  font-style: normal;
  font-weight: 400;
}
.creator-text41 {
  font-style: normal;
  font-weight: 400;
}
.creator-text42 {
  font-style: normal;
  font-weight: 400;
}
.creator-text43 {
  font-style: normal;
  font-weight: 400;
}
.creator-text44 {
  font-style: normal;
  font-weight: 400;
}
.creator-text45 {
  font-style: normal;
  font-weight: 400;
}
.creator-text46 {
  font-style: normal;
  font-weight: 400;
}
.creator-text47 {
  font-style: normal;
  font-weight: 400;
}
.creator-text48 {
  font-style: normal;
  font-weight: 400;
}
.creator-link {
  display: contents;
}
.creator-image2 {
  top: 580px;
  left: 690px;
  width: 127px;
  height: 62px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  padding-right: 4px;
  text-decoration: none;
}
.creator-image2:hover {
  animation: unset;
}
.creator-link1 {
  display: contents;
}
.creator-image3 {
  top: 581px;
  left: 779px;
  width: 124px;
  height: 64px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.creator-image3:hover {
  color: var(--dl-color-custom-primary1);
}
.creator-link2 {
  display: contents;
}
.creator-image4 {
  top: 584px;
  left: 871px;
  width: 129px;
  height: 59px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.creator-image4:hover {
  color: var(--dl-color-custom-primary1);
}
.creator-navbar-interactive {
  height: 92px;
  align-self: stretch;
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: row;
  background-color: #ffffff;
}
.creator-navbar-interactive:focus {
  position: fixed;
}
.creator-container1 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.creator-navlink {
  display: contents;
}
.creator-image5 {
  width: 80px;
  height: 58px;
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.creator-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.creator-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.creator-nav52 {
  color: rgb(232, 149, 171);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.creator-burger-menu {
  display: none;
}
.creator-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.creator-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.creator-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.creator-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.creator-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.creator-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.creator-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.creator-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.creator-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}
.creator-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.creator-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.creator-nav521 {
  margin-bottom: var(--dl-space-space-unit);
}
.creator-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.creator-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.creator-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.creator-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.creator-link3 {
  display: contents;
}
.creator-image6 {
  top: 586px;
  right: 162px;
  width: 128px;
  height: 55px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.creator-image6:hover {
  color: var(--dl-color-custom-primary1);
}
.creator-link4 {
  display: contents;
}
.creator-image7 {
  top: 583px;
  right: 73px;
  width: 132px;
  height: 62px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.creator-image7:hover {
  color: var(--dl-color-custom-primary1);
}
@media(max-width: 767px) {
  .creator-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .creator-desktop-menu {
    display: none;
  }
  .creator-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .creator-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .creator-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .creator-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .creator-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .creator-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .creator-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .creator-mobile-menu1 {
    padding: 16px;
  }
}
