.generated-logos-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.generated-logos-navbar-interactive {
  height: 92px;
  align-self: stretch;
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: row;
  background-color: #ffffff;
}
.generated-logos-navbar-interactive:focus {
  position: fixed;
}
.generated-logos-container1 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.generated-logos-navlink {
  display: contents;
}
.generated-logos-image {
  width: 80px;
  height: 58px;
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.generated-logos-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.generated-logos-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.generated-logos-nav52 {
  color: rgb(232, 149, 171);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.generated-logos-burger-menu {
  display: none;
}
.generated-logos-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.generated-logos-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.generated-logos-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.generated-logos-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.generated-logos-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.generated-logos-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.generated-logos-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.generated-logos-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.generated-logos-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}
.generated-logos-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.generated-logos-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.generated-logos-nav521 {
  margin-bottom: var(--dl-space-space-unit);
}
.generated-logos-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.generated-logos-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.generated-logos-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.generated-logos-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.generated-logos-hero {
  height: 440px;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
}
.generated-logos-text {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  align-self: center;
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  margin-left: 7px;
}
.generated-logos-container2 {
  flex: 0 0 auto;
  width: 1102px;
  height: 302px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.generated-logos-container3 {
  top: 30px;
  left: 362px;
  width: 200px;
  height: 230px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  flex-direction: column;
  background-color: #ffdae4;
}
.generated-logos-container4 {
  top: 29px;
  left: 602px;
  width: 200px;
  height: 230px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  flex-direction: column;
  background-color: #ffdae4;
}
.generated-logos-container5 {
  top: 31px;
  left: 125px;
  width: 200px;
  height: 230px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  flex-direction: column;
  background-color: #ffdae4;
}
.generated-logos-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.generated-logos-container7 {
  top: 29px;
  flex: 0 0 auto;
  right: 57px;
  width: 200px;
  height: 230px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  flex-direction: column;
  background-color: #ffdae4;
}
.generated-logos-button {
  top: 479px;
  right: 170px;
  position: absolute;
  transition: 0.3s;
  border-color: rgba(0, 0, 0, 0);
}
.generated-logos-button:hover {
  color: var(--dl-color-gray-white);
  background-color: #E895AB;
}
.generated-logos-button1 {
  top: 479px;
  left: 174px;
  position: absolute;
  transition: 0.3s;
  border-color: rgba(0, 0, 0, 0);
}
.generated-logos-button1:hover {
  color: var(--dl-color-gray-white);
  background-color: #E895AB;
}
@media(max-width: 991px) {
  .generated-logos-hero {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .generated-logos-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .generated-logos-desktop-menu {
    display: none;
  }
  .generated-logos-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .generated-logos-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .generated-logos-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .generated-logos-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .generated-logos-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .generated-logos-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .generated-logos-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .generated-logos-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .generated-logos-mobile-menu1 {
    padding: 16px;
  }
  .generated-logos-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
