.feature-card1-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
}
.feature-card1-feature-card:hover {
  transform: scale(1.02);
}
.feature-card1-text {
  font-size: 1.3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card1-image {
  width: 81px;
  height: 63px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.feature-card1-root-class-name {
  right: -344px;
  width: var(--dl-size-size-large);
  bottom: -280px;
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name1 {
  right: -504px;
  width: var(--dl-size-size-large);
  bottom: -280px;
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name2 {
  right: -664px;
  width: var(--dl-size-size-large);
  bottom: -280px;
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name3 {
  right: -824px;
  width: var(--dl-size-size-large);
  bottom: -280px;
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name4 {
  top: -31px;
  right: -822px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name5 {
  top: -31px;
  right: -662px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name6 {
  top: -31px;
  right: -502px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name7 {
  top: -31px;
  right: -342px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name8 {
  right: -344px;
  width: var(--dl-size-size-large);
  bottom: -280px;
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name9 {
  right: -504px;
  width: var(--dl-size-size-large);
  bottom: -280px;
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name10 {
  right: -664px;
  width: var(--dl-size-size-large);
  bottom: -280px;
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name11 {
  right: -824px;
  width: var(--dl-size-size-large);
  bottom: -280px;
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name12 {
  top: -31px;
  right: -342px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name13 {
  top: -31px;
  right: -502px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  position: absolute;
}
.feature-card1-root-class-name14 {
  top: -31px;
  right: -662px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  position: absolute;
}

.lm-color-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lm-color-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.lm-color-navbar-interactive {
  height: 92px;
  align-self: stretch;
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: row;
  background-color: #ffffff;
}
.lm-color-navbar-interactive:focus {
  position: fixed;
}
.lm-color-container1 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.lm-color-navlink {
  display: contents;
}
.lm-color-image {
  width: 80px;
  height: 58px;
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.lm-color-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.lm-color-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.lm-color-nav52 {
  color: rgb(232, 149, 171);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.lm-color-burger-menu {
  display: none;
}
.lm-color-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.lm-color-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.lm-color-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lm-color-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lm-color-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lm-color-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.lm-color-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.lm-color-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.lm-color-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}
.lm-color-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.lm-color-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.lm-color-nav521 {
  margin-bottom: var(--dl-space-space-unit);
}
.lm-color-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lm-color-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lm-color-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lm-color-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lm-color-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.lm-color-hero1 {
  height: 203px;
  padding-top: 12px;
  padding-bottom: 4px;
}
.lm-color-text {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  align-self: center;
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
}
.lm-color-container2 {
  flex: 0 0 auto;
  width: 1102px;
  height: 89px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.lm-color-text2 {
  font-size: 15px;
  align-self: center;
  font-style: normal;
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  margin-left: 63px;
  margin-bottom: 10px;
}
.lm-color-form {
  width: 200px;
  height: 100px;
  display: flex;
}
.lm-color-features {
  width: 426px;
  height: var(--dl-size-size-xsmall);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-xsmall);
  min-width: var(--dl-size-size-xsmall);
  max-height: var(--dl-size-size-xsmall);
  min-height: var(--dl-size-size-xsmall);
  padding-left: 69px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.lm-color-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.lm-color-navlink1 {
  top: 577px;
  left: 601px;
  position: absolute;
  font-size: 14px;
  transition: 0.3s;
  border-width: 0px;
  text-decoration: none;
  background-color: rgb(255, 218, 228);
}
.lm-color-navlink1:hover {
  color: var(--dl-color-gray-white);
  background-color: #E895AB;
}
@media(max-width: 991px) {
  .lm-color-hero1 {
    flex-direction: column;
  }
  .lm-color-container3 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .lm-color-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lm-color-desktop-menu {
    display: none;
  }
  .lm-color-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lm-color-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lm-color-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lm-color-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lm-color-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lm-color-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lm-color-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lm-color-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .lm-color-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .lm-color-mobile-menu1 {
    padding: 16px;
  }
  .lm-color-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lm-color-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lm-color-container3 {
    grid-gap: var(--dl-space-space-halfunit);
  }
}
