body, html{
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/mf.jpeg') scroll no-repeat center/cover;
}

.stamp {
    transform: rotate(12deg);
    color: #555;
    font-size: 3rem;
    font-weight: 700;
    border: 0.25rem solid #555;
    display: inline-block;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: 'Courier';
    mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png'); /* Define standard property */
    mask-size: 944px 604px; /* Define standard property */
    mix-blend-mode: multiply;
}

.is-approved {
    color: #0A9928;
    border: 0.5rem solid #0A9928;
    mask-position: 13rem 6rem; /* Define standard property */
    transform: rotate(-14deg);
    border-radius: 0;
}
