.manual-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .manual-navbar-interactive {
    height: 92px;
    align-self: stretch;
    transition: 0.3s;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    flex-direction: row;
    background-color: #ffffff;
  }
  .manual-navbar-interactive:focus {
    position: fixed;
  }
  .manual-container1 {
    flex: 0 0 auto;
    width: 200px;
    height: auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
  }
  .manual-navlink {
    display: contents;
  }
  .manual-image {
    width: 80px;
    height: 58px;
    align-self: flex-start;
    object-fit: cover;
    text-decoration: none;
  }
  .manual-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .manual-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .manual-nav52 {
    color: rgb(232, 149, 171);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .manual-burger-menu {
    display: none;
  }
  .manual-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .manual-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
  }
  .manual-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .manual-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .manual-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .manual-icon02 {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .manual-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .manual-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .manual-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .manual-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .manual-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .manual-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .manual-buttons {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .manual-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .manual-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .manual-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .manual-container2 {
    width: 100%;
    height: 165px;
    display: flex;
    position: relative;
    align-items: flex-end;
    border-color: rgba(120, 120, 120, 0.4);
    border-style: hidden;
    border-width: 2px;
    padding-left: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .manual-text {
    top: 45px;
    left: 517px;
    color: var(--dl-color-gray-black);
    position: absolute;
    font-size: 30px;
    align-self: center;
    text-align: center;
    font-weight: 700;
  }
  .manual-text01 {
    top: 91px;
    left: 457px;
    position: absolute;
    font-size: 15px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 400;
  }
  .manual-text05 {
    top: 445px;
    left: 165px;
    color: var(--dl-color-gray-black);
    position: absolute;
    font-size: 20px;
    align-self: center;
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    margin-left: 15px;
  }
  .manual-text09 {
    top: 446px;
    left: 568px;
    color: var(--dl-color-gray-black);
    position: absolute;
    font-size: 20px;
    align-self: center;
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    margin-left: 15px;
  }
  .manual-text14 {
    top: 537px;
    left: 117px;
    position: absolute;
    font-size: 12px;
    align-self: center;
    font-style: normal;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    margin-left: 30px;
  }
  .manual-text22 {
    top: 543px;
    left: 516px;
    position: absolute;
    font-size: 12px;
    align-self: center;
    font-style: normal;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    margin-left: 30px;
  }
  .manual-container3 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
  }
  .manual-image1 {
    top: -46px;
    left: -599px;
    width: 326px;
    height: 283px;
    position: absolute;
    object-fit: cover;
    margin-left: 90px;
  }
  .manual-text27 {
    top: 393px;
    right: 117px;
    position: absolute;
    font-size: 12px;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    text-align: center;
    font-weight: 400;
    margin-left: 0px;
  }
  .manual-text32 {
    top: 351px;
    color: var(--dl-color-gray-black);
    right: 89px;
    position: absolute;
    font-size: 20px;
    align-self: center;
    margin-top: 0px;
    text-align: center;
    font-weight: 700;
    margin-left: 0px;
  }
  .manual-image2 {
    top: 223px;
    left: 473px;
    width: 346px;
    height: 259px;
    position: absolute;
    object-fit: cover;
  }
  .manual-image3 {
    top: 287px;
    right: 51px;
    width: 160px;
    height: 95px;
    position: absolute;
    object-fit: cover;
  }
  .manual-image4 {
    top: 354px;
    left: 831px;
    width: 120px;
    height: 58px;
    position: absolute;
    object-fit: cover;
  }
  @media(max-width: 767px) {
    .manual-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .manual-desktop-menu {
      display: none;
    }
    .manual-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .manual-nav12 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .manual-nav22 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .manual-nav32 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .manual-nav42 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .manual-nav521 {
      margin-bottom: var(--dl-space-space-unit);
    }
  }
  @media(max-width: 479px) {
    .manual-navbar-interactive {
      padding: var(--dl-space-space-unit);
    }
    .manual-mobile-menu1 {
      padding: 16px;
    }
  }  